*.suo
*.bak
*.wlf
*.user
*.log
*.qws
wlf*
~$*
transcript
CPUS/**/db/
CPUS/**/incremental_db/
CPUS/**/output_files/
CPUS/**/work/
CPUS/**/tests/*.dat
CPUS/**/quartus/Init[0-9].dat
CPUS/**/simulation/
Assembler/**/bin/
Assembler/**/obj/
MIKA/**/bin/
MIKA/**/obj/